body {
  font-family: Arial, sans-serif;
  max-width: 1000px; /* antes era 600 */
  margin: auto;
  padding: 20px;
  background: #f5f5f5;
}

h1 {
  text-align: center;
}

.wca-logo {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 8px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  flex: 1;
  padding: 10px;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background: white;
}

th, td {
  padding: 10px 14px;
  text-align: left;
}

th {
  border-bottom: 2px solid #ccc;
}

tr:nth-child(even) {
  background: #f9f9f9;
}

h2 {
  margin-top: 20px;
}

td:nth-child(2) {
  font-weight: 500;
}

td:nth-child(3) {
  font-weight: bold;
}

th:nth-child(1), td:nth-child(1) {
  width: 80px;
}

th:nth-child(2), td:nth-child(2) {
  width: 250px;
}

th:nth-child(3), td:nth-child(3) {
  width: 100px;
}

th:nth-child(4), td:nth-child(4) {
  width: 200px;
}

th:nth-child(5), td:nth-child(5) {
  width: 250px;
}

tr {
  border-bottom: 1px solid #eee;
}

tr:hover {
  background: #f1f1f1;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.icone-evento {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

.evento-titulo {
  display: flex;
  align-items: center;
  gap: 8px;
}
