@font-face {
  font-family: 'cubing-icons';
  src: url('fonts/cubing-icons.woff2') format('woff2'),
       url('fonts/cubing-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.cubing-icon {
  font-family: 'cubing-icons';
  font-style: normal;
  display: inline-block;
}

/* Eventos */
.event-333:before { content: "3×3"; }
.event-222:before { content: "2×2"; }
.event-444:before { content: "4×4"; }
.event-555:before { content: "5×5"; }
.event-pyram:before { content: "Py"; }
.event-skewb:before { content: "Sk"; }
.event-minx:before { content: "Mg"; }
.event-sq1:before { content: "Sq"; }
.event-clock:before { content: "Cl"; }
